<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".7z" mimeType="application/octet-stream" />
    </staticContent>
    <caching>
      <profiles>
        <add extension=".zip" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".7z" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".csv" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".xml" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
  </system.webServer>
</configuration>
